html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.kmas-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.kmas-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.kmas-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.kmas-table,.kmas-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.kmas-table-all{border:1px solid #ccc}
.kmas-bordered tr,.kmas-table-all tr{border-bottom:1px solid #ddd}.kmas-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.kmas-table-all tr:nth-child(odd){background-color:#fff}.kmas-table-all tr:nth-child(even){background-color:#f1f1f1}
.kmas-hoverable tbody tr:hover,.kmas-ul.kmas-hoverable li:hover{background-color:#ccc}.kmas-centered tr th,.kmas-centered tr td{text-align:center}
.kmas-table td,.kmas-table th,.kmas-table-all td,.kmas-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.kmas-table th:first-child,.kmas-table td:first-child,.kmas-table-all th:first-child,.kmas-table-all td:first-child{padding-left:16px}
.kmas-btn,.kmas-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.kmas-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.kmas-btn,.kmas-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.kmas-disabled,.kmas-btn:disabled,.kmas-button:disabled{cursor:not-allowed;opacity:0.3}.kmas-disabled *,:disabled *{pointer-events:none}
.kmas-btn.kmas-disabled:hover,.kmas-btn:disabled:hover{box-shadow:none}
.kmas-badge,.kmas-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.kmas-badge{border-radius:50%}
.kmas-ul{list-style-type:none;padding:0;margin:0}.kmas-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.kmas-ul li:last-child{border-bottom:none}
.kmas-tooltip,.kmas-display-container{position:relative}.kmas-tooltip .kmas-text{display:none}.kmas-tooltip:hover .kmas-text{display:inline-block}
.kmas-ripple:active{opacity:0.5}.kmas-ripple{transition:opacity 0s}
.kmas-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.kmas-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.kmas-dropdown-click,.kmas-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.kmas-dropdown-hover:hover .kmas-dropdown-content{display:block}
.kmas-dropdown-hover:first-child,.kmas-dropdown-click:hover{background-color:#ccc;color:#000}
.kmas-dropdown-hover:hover > .kmas-button:first-child,.kmas-dropdown-click:hover > .kmas-button:first-child{background-color:#ccc;color:#000}
.kmas-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.kmas-check,.kmas-radio{width:24px;height:24px;position:relative;top:6px}
.kmas-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.kmas-bar-block .kmas-dropdown-hover,.kmas-bar-block .kmas-dropdown-click{width:100%}
.kmas-bar-block .kmas-dropdown-hover .kmas-dropdown-content,.kmas-bar-block .kmas-dropdown-click .kmas-dropdown-content{min-width:100%}
.kmas-bar-block .kmas-dropdown-hover .kmas-button,.kmas-bar-block .kmas-dropdown-click .kmas-button{width:100%;text-align:left;padding:8px 16px}
.kmas-main,#main{transition:margin-left .4s}
.kmas-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.kmas-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.kmas-bar{width:100%;overflow:hidden}.kmas-center .kmas-bar{display:inline-block;width:auto}
.kmas-bar .kmas-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.kmas-bar .kmas-dropdown-hover,.kmas-bar .kmas-dropdown-click{position:static;float:left}
.kmas-bar .kmas-button{white-space:normal}
.kmas-bar-block .kmas-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.kmas-bar-block.kmas-center .kmas-bar-item{text-align:center}.kmas-block{display:block;width:100%}
.kmas-responsive{display:block;overflow-x:auto}
.kmas-container:after,.kmas-container:before,.kmas-panel:after,.kmas-panel:before,.kmas-row:after,.kmas-row:before,.kmas-row-padding:after,.kmas-row-padding:before,
.kmas-cell-row:before,.kmas-cell-row:after,.kmas-clear:after,.kmas-clear:before,.kmas-bar:before,.kmas-bar:after{content:"";display:table;clear:both}
.kmas-col,.kmas-half,.kmas-third,.kmas-twothird,.kmas-threequarter,.kmas-quarter{float:left;width:100%}
.kmas-col.s1{width:8.33333%}.kmas-col.s2{width:16.66666%}.kmas-col.s3{width:24.99999%}.kmas-col.s4{width:33.33333%}
.kmas-col.s5{width:41.66666%}.kmas-col.s6{width:49.99999%}.kmas-col.s7{width:58.33333%}.kmas-col.s8{width:66.66666%}
.kmas-col.s9{width:74.99999%}.kmas-col.s10{width:83.33333%}.kmas-col.s11{width:91.66666%}.kmas-col.s12{width:99.99999%}
@media (min-width:601px){.kmas-col.m1{width:8.33333%}.kmas-col.m2{width:16.66666%}.kmas-col.m3,.kmas-quarter{width:24.99999%}.kmas-col.m4,.kmas-third{width:33.33333%}
.kmas-col.m5{width:41.66666%}.kmas-col.m6,.kmas-half{width:49.99999%}.kmas-col.m7{width:58.33333%}.kmas-col.m8,.kmas-twothird{width:66.66666%}
.kmas-col.m9,.kmas-threequarter{width:74.99999%}.kmas-col.m10{width:83.33333%}.kmas-col.m11{width:91.66666%}.kmas-col.m12{width:99.99999%}}
@media (min-width:993px){.kmas-col.l1{width:8.33333%}.kmas-col.l2{width:16.66666%}.kmas-col.l3{width:24.99999%}.kmas-col.l4{width:33.33333%}
.kmas-col.l5{width:41.66666%}.kmas-col.l6{width:49.99999%}.kmas-col.l7{width:58.33333%}.kmas-col.l8{width:66.66666%}
.kmas-col.l9{width:74.99999%}.kmas-col.l10{width:83.33333%}.kmas-col.l11{width:91.66666%}.kmas-col.l12{width:99.99999%}}
.kmas-content{max-width:980px;margin:auto}.kmas-rest{overflow:hidden}
.kmas-cell-row{display:table;width:100%}.kmas-cell{display:table-cell}
.kmas-cell-top{vertical-align:top}.kmas-cell-middle{vertical-align:middle}.kmas-cell-bottom{vertical-align:bottom}
.kmas-hide{display:none!important}.kmas-show-block,.kmas-show{display:block!important}.kmas-show-inline-block{display:inline-block!important}
@media (max-width:600px){.kmas-modal-content{margin:0 10px;width:auto!important}.kmas-modal{padding-top:30px}
.kmas-dropdown-hover.kmas-mobile .kmas-dropdown-content,.kmas-dropdown-click.kmas-mobile .kmas-dropdown-content{position:relative}	
.kmas-hide-small{display:none!important}.kmas-mobile{display:block;width:100%!important}.kmas-bar-item.kmas-mobile,.kmas-dropdown-hover.kmas-mobile,.kmas-dropdown-click.kmas-mobile{text-align:center}
.kmas-dropdown-hover.kmas-mobile,.kmas-dropdown-hover.kmas-mobile .kmas-btn,.kmas-dropdown-hover.kmas-mobile .kmas-button,.kmas-dropdown-click.kmas-mobile,.kmas-dropdown-click.kmas-mobile .kmas-btn,.kmas-dropdown-click.kmas-mobile .kmas-button{width:100%}}
@media (max-width:768px){.kmas-modal-content{width:500px}.kmas-modal{padding-top:50px}}
@media (min-width:993px){.kmas-modal-content{width:900px}.kmas-hide-large{display:none!important}.kmas-sidebar.kmas-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.kmas-hide-medium{display:none!important}}
@media (max-width:992px){.kmas-sidebar.kmas-collapse{display:none}.kmas-main{margin-left:0!important;margin-right:0!important}}
.kmas-top,.kmas-bottom{position:fixed;width:100%;z-index:1}.kmas-top{top:0}.kmas-bottom{bottom:0}
.kmas-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.kmas-display-topleft{position:absolute;left:0;top:0}.kmas-display-topright{position:absolute;right:0;top:0}
.kmas-display-bottomleft{position:absolute;left:0;bottom:0}.kmas-display-bottomright{position:absolute;right:0;bottom:0}
.kmas-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.kmas-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.kmas-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.kmas-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.kmas-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.kmas-display-container:hover .kmas-display-hover{display:block}.kmas-display-container:hover span.kmas-display-hover{display:inline-block}.kmas-display-hover{display:none}
.kmas-display-position{position:absolute}
.kmas-circle{border-radius:50%}
.kmas-round-small{border-radius:2px}.kmas-round,.kmas-round-medium{border-radius:4px}.kmas-round-large{border-radius:8px}.kmas-round-xlarge{border-radius:16px}.kmas-round-xxlarge{border-radius:32px}
.kmas-row-padding,.kmas-row-padding>.kmas-half,.kmas-row-padding>.kmas-third,.kmas-row-padding>.kmas-twothird,.kmas-row-padding>.kmas-threequarter,.kmas-row-padding>.kmas-quarter,.kmas-row-padding>.kmas-col{padding:0 8px}
.kmas-container,.kmas-panel{padding:0.01em 16px}.kmas-panel{margin-top:16px;margin-bottom:16px}
.kmas-code,.kmas-codespan{font-family:Consolas,"courier new";font-size:16px}
.kmas-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.kmas-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.kmas-card,.kmas-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.kmas-card-4,.kmas-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.kmas-spin{animation:kmas-spin 2s infinite linear}@keyframes kmas-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.kmas-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.kmas-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.kmas-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.kmas-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.kmas-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.kmas-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.kmas-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.kmas-animate-input{transition:width 0.4s ease-in-out}.kmas-animate-input:focus{width:100%!important}
.kmas-opacity,.kmas-hover-opacity:hover{opacity:0.60}.kmas-opacity-off,.kmas-hover-opacity-off:hover{opacity:1}
.kmas-opacity-max{opacity:0.25}.kmas-opacity-min{opacity:0.75}
.kmas-greyscale-max,.kmas-grayscale-max,.kmas-hover-greyscale:hover,.kmas-hover-grayscale:hover{filter:grayscale(100%)}
.kmas-greyscale,.kmas-grayscale{filter:grayscale(75%)}.kmas-greyscale-min,.kmas-grayscale-min{filter:grayscale(50%)}
.kmas-sepia{filter:sepia(75%)}.kmas-sepia-max,.kmas-hover-sepia:hover{filter:sepia(100%)}.kmas-sepia-min{filter:sepia(50%)}
.kmas-tiny{font-size:10px!important}.kmas-small{font-size:12px!important}.kmas-medium{font-size:15px!important}.kmas-large{font-size:18px!important}
.kmas-xlarge{font-size:24px!important}.kmas-xxlarge{font-size:36px!important}.kmas-xxxlarge{font-size:48px!important}.kmas-jumbo{font-size:64px!important}
.kmas-left-align{text-align:left!important}.kmas-right-align{text-align:right!important}.kmas-justify{text-align:justify!important}.kmas-center{text-align:center!important}
.kmas-border-0{border:0!important}.kmas-border{border:1px solid #ccc!important}
.kmas-border-top{border-top:1px solid #ccc!important}.kmas-border-bottom{border-bottom:1px solid #ccc!important}
.kmas-border-left{border-left:1px solid #ccc!important}.kmas-border-right{border-right:1px solid #ccc!important}
.kmas-topbar{border-top:6px solid #ccc!important}.kmas-bottombar{border-bottom:6px solid #ccc!important}
.kmas-leftbar{border-left:6px solid #ccc!important}.kmas-rightbar{border-right:6px solid #ccc!important}
.kmas-section,.kmas-code{margin-top:16px!important;margin-bottom:16px!important}
.kmas-margin{margin:16px!important}.kmas-margin-top{margin-top:16px!important}.kmas-margin-bottom{margin-bottom:16px!important}
.kmas-margin-left{margin-left:16px!important}.kmas-margin-right{margin-right:16px!important}
.kmas-padding-small{padding:4px 8px!important}.kmas-padding{padding:8px 16px!important}.kmas-padding-large{padding:12px 24px!important}
.kmas-padding-16{padding-top:16px!important;padding-bottom:16px!important}.kmas-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.kmas-padding-32{padding-top:32px!important;padding-bottom:32px!important}.kmas-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.kmas-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.kmas-left{float:left!important}.kmas-right{float:right!important}
.kmas-button:hover{color:#000!important;background-color:#ccc!important}
.kmas-transparent,.kmas-hover-none:hover{background-color:transparent!important}
.kmas-hover-none:hover{box-shadow:none!important}
/* Colors */
.kmas-amber,.kmas-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.kmas-aqua,.kmas-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.kmas-blue,.kmas-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.kmas-light-blue,.kmas-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.kmas-brown,.kmas-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.kmas-cyan,.kmas-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.kmas-blue-grey,.kmas-hover-blue-grey:hover,.kmas-blue-gray,.kmas-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.kmas-green,.kmas-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.kmas-light-green,.kmas-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.kmas-indigo,.kmas-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.kmas-khaki,.kmas-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.kmas-lime,.kmas-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.kmas-orange,.kmas-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.kmas-deep-orange,.kmas-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.kmas-pink,.kmas-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.kmas-purple,.kmas-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.kmas-deep-purple,.kmas-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.kmas-red,.kmas-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.kmas-sand,.kmas-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.kmas-teal,.kmas-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.kmas-yellow,.kmas-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.kmas-white,.kmas-hover-white:hover{color:#000!important;background-color:#fff!important}
.kmas-black,.kmas-hover-black:hover{color:#fff!important;background-color:#000!important}
.kmas-grey,.kmas-hover-grey:hover,.kmas-gray,.kmas-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.kmas-light-grey,.kmas-hover-light-grey:hover,.kmas-light-gray,.kmas-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.kmas-dark-grey,.kmas-hover-dark-grey:hover,.kmas-dark-gray,.kmas-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.kmas-pale-red,.kmas-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.kmas-pale-green,.kmas-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.kmas-pale-yellow,.kmas-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.kmas-pale-blue,.kmas-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.kmas-text-amber,.kmas-hover-text-amber:hover{color:#ffc107!important}
.kmas-text-aqua,.kmas-hover-text-aqua:hover{color:#00ffff!important}
.kmas-text-blue,.kmas-hover-text-blue:hover{color:#2196F3!important}
.kmas-text-light-blue,.kmas-hover-text-light-blue:hover{color:#87CEEB!important}
.kmas-text-brown,.kmas-hover-text-brown:hover{color:#795548!important}
.kmas-text-cyan,.kmas-hover-text-cyan:hover{color:#00bcd4!important}
.kmas-text-blue-grey,.kmas-hover-text-blue-grey:hover,.kmas-text-blue-gray,.kmas-hover-text-blue-gray:hover{color:#607d8b!important}
.kmas-text-green,.kmas-hover-text-green:hover{color:#4CAF50!important}
.kmas-text-light-green,.kmas-hover-text-light-green:hover{color:#8bc34a!important}
.kmas-text-indigo,.kmas-hover-text-indigo:hover{color:#3f51b5!important}
.kmas-text-khaki,.kmas-hover-text-khaki:hover{color:#b4aa50!important}
.kmas-text-lime,.kmas-hover-text-lime:hover{color:#cddc39!important}
.kmas-text-orange,.kmas-hover-text-orange:hover{color:#ff9800!important}
.kmas-text-deep-orange,.kmas-hover-text-deep-orange:hover{color:#ff5722!important}
.kmas-text-pink,.kmas-hover-text-pink:hover{color:#e91e63!important}
.kmas-text-purple,.kmas-hover-text-purple:hover{color:#9c27b0!important}
.kmas-text-deep-purple,.kmas-hover-text-deep-purple:hover{color:#673ab7!important}
.kmas-text-red,.kmas-hover-text-red:hover{color:#f44336!important}
.kmas-text-sand,.kmas-hover-text-sand:hover{color:#fdf5e6!important}
.kmas-text-teal,.kmas-hover-text-teal:hover{color:#009688!important}
.kmas-text-yellow,.kmas-hover-text-yellow:hover{color:#d2be0e!important}
.kmas-text-white,.kmas-hover-text-white:hover{color:#fff!important}
.kmas-text-black,.kmas-hover-text-black:hover{color:#000!important}
.kmas-text-grey,.kmas-hover-text-grey:hover,.kmas-text-gray,.kmas-hover-text-gray:hover{color:#757575!important}
.kmas-text-light-grey,.kmas-hover-text-light-grey:hover,.kmas-text-light-gray,.kmas-hover-text-light-gray:hover{color:#f1f1f1!important}
.kmas-text-dark-grey,.kmas-hover-text-dark-grey:hover,.kmas-text-dark-gray,.kmas-hover-text-dark-gray:hover{color:#3a3a3a!important}
.kmas-border-amber,.kmas-hover-border-amber:hover{border-color:#ffc107!important}
.kmas-border-aqua,.kmas-hover-border-aqua:hover{border-color:#00ffff!important}
.kmas-border-blue,.kmas-hover-border-blue:hover{border-color:#2196F3!important}
.kmas-border-light-blue,.kmas-hover-border-light-blue:hover{border-color:#87CEEB!important}
.kmas-border-brown,.kmas-hover-border-brown:hover{border-color:#795548!important}
.kmas-border-cyan,.kmas-hover-border-cyan:hover{border-color:#00bcd4!important}
.kmas-border-blue-grey,.kmas-hover-border-blue-grey:hover,.kmas-border-blue-gray,.kmas-hover-border-blue-gray:hover{border-color:#607d8b!important}
.kmas-border-green,.kmas-hover-border-green:hover{border-color:#4CAF50!important}
.kmas-border-light-green,.kmas-hover-border-light-green:hover{border-color:#8bc34a!important}
.kmas-border-indigo,.kmas-hover-border-indigo:hover{border-color:#3f51b5!important}
.kmas-border-khaki,.kmas-hover-border-khaki:hover{border-color:#f0e68c!important}
.kmas-border-lime,.kmas-hover-border-lime:hover{border-color:#cddc39!important}
.kmas-border-orange,.kmas-hover-border-orange:hover{border-color:#ff9800!important}
.kmas-border-deep-orange,.kmas-hover-border-deep-orange:hover{border-color:#ff5722!important}
.kmas-border-pink,.kmas-hover-border-pink:hover{border-color:#e91e63!important}
.kmas-border-purple,.kmas-hover-border-purple:hover{border-color:#9c27b0!important}
.kmas-border-deep-purple,.kmas-hover-border-deep-purple:hover{border-color:#673ab7!important}
.kmas-border-red,.kmas-hover-border-red:hover{border-color:#f44336!important}
.kmas-border-sand,.kmas-hover-border-sand:hover{border-color:#fdf5e6!important}
.kmas-border-teal,.kmas-hover-border-teal:hover{border-color:#009688!important}
.kmas-border-yellow,.kmas-hover-border-yellow:hover{border-color:#ffeb3b!important}
.kmas-border-white,.kmas-hover-border-white:hover{border-color:#fff!important}
.kmas-border-black,.kmas-hover-border-black:hover{border-color:#000!important}
.kmas-border-grey,.kmas-hover-border-grey:hover,.kmas-border-gray,.kmas-hover-border-gray:hover{border-color:#9e9e9e!important}
.kmas-border-light-grey,.kmas-hover-border-light-grey:hover,.kmas-border-light-gray,.kmas-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.kmas-border-dark-grey,.kmas-hover-border-dark-grey:hover,.kmas-border-dark-gray,.kmas-hover-border-dark-gray:hover{border-color:#616161!important}
.kmas-border-pale-red,.kmas-hover-border-pale-red:hover{border-color:#ffe7e7!important}.kmas-border-pale-green,.kmas-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.kmas-border-pale-yellow,.kmas-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.kmas-border-pale-blue,.kmas-hover-border-pale-blue:hover{border-color:#e7ffff!important}
